// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font-size: 16px;
  margin-top: 20px;
}

#incomplete_emails form {
  margin: 5px 0;
  label {color:orange}
  font-weight: bold;
   	border-bottom: 1px solid #0a8fd5;
}

#complete_emails form {
  font-size: 12px;
  color: #777;
  margin: 3px 0;
  label { text-decoration: inherit; color:green }
  border-bottom: 1px solid #0a8fd5;
}


.edit_email {
  a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.buttton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttton1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}



.tab {
    overflow: visible;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: grey;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 4px 9px;
    border: 1px solid #ccc;
    border-top: none;
}
