


<h1>Emails Viewer Ajax</h1>
<%= link_to "Nouvel Email", new_email_path, id: "new_link", remote:true, class: "buttton buttton1" %>

<h2>Emails Non lus</h2>
<div class="emails" id="incomplete_emails">
  <%= render @incomplete_emails %>
</div>

<h2>Emails lus</h2>
<div class="emails" id="complete_emails">
  <%= render @complete_emails %>
</div>
